<div class="contenedorDashboard">
  <div class="navbar">
    <div class="presentacion">
      <span class="logo">DEAD GAME EXPLORER</span>
      <span class="slogan"> // La nostalgía nos guía._ ></span>
    </div>

    <div class="navAcciones">
      <button class="boton" routerLink="/dashboard">VOLVER</button>
      <button class="boton" (click)="cerrarSesion()">CERRAR SESION</button>
    </div>
  </div>

  <div class="contenedorAcciones">
    <div class="acciones">
      <button class="boton" (click)="abrirModal('publicacionPorUsuario')">
        PUBLICACIONES POR USUARIO
      </button>
      <button class="boton" (click)="abrirModal('comentariosTotales')">COMENTARIOS TOTALES</button>
      <button class="boton" (click)="abrirModal('comentariosPorPublicacion')">
        COMENTARIOS POR PUBLICACION
      </button>
    </div>
  </div>

  @if (modalAbierto) {
    <div class="modalEstadisticas">
      <div class="modal">
        <div class="navbarModal">
          <h2 class="modalTitulo">{{ tipoModal | tituloModal }}</h2>
          <button class="boton" (click)="cerrarModal()">X</button>
        </div>

        @if (tipoModal === 'publicacionPorUsuario') {
          <div class="contenidoModal">
            <div class="filtros">
              <input type="date" [(ngModel)]="desde" placeholder="Desde" />
              <input type="date" [(ngModel)]="hasta" placeholder="Hasta" />
            </div>
            <div class="consulta">
              <button class="boton" (click)="publicacionesPorUsuario(desde, hasta)">
                CONSULTAR
              </button>
            </div>
            <div class="contenedorGrafico">
              <canvas id="graficoPublicaciones"></canvas>
            </div>
          </div>
        }

        @if (tipoModal === 'comentariosTotales') {
          <div class="contenidoModal">
            <div class="filtros">
              <input type="date" [(ngModel)]="desde" placeholder="Desde" />
              <input type="date" [(ngModel)]="hasta" placeholder="Hasta" />
            </div>
            <div class="consulta">
              <button class="boton" (click)="comentariosPorFechas(desde, hasta)">CONSULTAR</button>
            </div>
            <div class="contenedorGrafico">
              <canvas id="graficoComentarios"></canvas>
            </div>
          </div>
        }

        @if (tipoModal === 'comentariosPorPublicacion') {
          <div class="contenidoModal">
            <div class="filtros">
              <input type="date" [(ngModel)]="desde" placeholder="Desde" />
              <input type="date" [(ngModel)]="hasta" placeholder="Hasta" />
            </div>
            <div class="consulta">
              <button class="boton" (click)="comentariosPorPublicacion(desde, hasta)">
                CONSULTAR
              </button>
            </div>
            <div class="contenedorGrafico">
              <canvas id="graficoComentariosPublicacion"></canvas>
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
