@if (publicacion.activo) {
  <div class="publicacionCard" (click)="verPublicacion()">
    <div class="publicacionDatos">
      <div class="publicacionCreacion">
        <span class="publicacionFecha"> {{ publicacion.creadoEn | fechaPublicacion }} </span>
        <span class="publicacionUser"> {{ publicacion.usuarioNombre }} </span>
        <img [src]="publicacion.usuarioImagen" alt="Imagen de perfil" appImagenAmpliada />
      </div>
    </div>

    <div class="publicacionContenido">
      <h3 class="publicacionTitulo">{{ publicacion.titulo }}</h3>
      <p class="publicacionDescripcion">{{ publicacion.descripcion | verMas }}</p>
      @if (publicacion.imagenUrl) {
        <img
          class="publicacionImagen"
          [src]="publicacion.imagenUrl"
          alt="imagen de publicacion"
          (click)="$event.stopPropagation(); abrirModalImagen(publicacion.imagenUrl)"
        />

        @if (modalImagen) {
          <div
            class="modalContenedorImagen"
            (click)="$event.stopPropagation(); cerrarModalImagen()"
          >
            <div class="modalImagen">
              <div class="modalImagenAcciones">
                <button class="botonEliminar" (click)="cerrarModalImagen()">X</button>
              </div>
              <img [src]="imagenPublicacion" alt="imagen ampliada" />
            </div>
          </div>
        }
      }
    </div>

    <div class="publicacionAcciones">
      @if (publicacion.meGusta.includes(usuario._id)) {
        <button class="botonLike activo" (click)="$event.stopPropagation(); quitarLike()">
          Dislikear
        </button>
      } @else {
        <button class="botonLike" (click)="$event.stopPropagation(); darLike()">Likear</button>
      }
      <span class="contadorLike">Likes: {{ publicacion.meGusta.length }}</span>

      <div class="eliminarPublicacion">
        @if (publicacion.usuario === usuario._id || usuario.perfil === 'administrador') {
          <button
            class="botonEliminar"
            (click)="$event.stopPropagation()"
            appConfirmarAccion
            mensaje="¿Eliminar publicacion?"
            (accionConfirmada)="abrirModalConfirmacion($event)"
          >
            Eliminar
          </button>
          @if (modalConfirmacion) {
            <div class="modalEliminacion">
              <div class="modal">
                <h3>{{ mensajeConfirmacion }}</h3>
                <div class="modalAcciones">
                  <button
                    class="botonLike"
                    (click)="$event.stopPropagation(); confirmarEliminacion()"
                  >
                    Confirmar
                  </button>
                  <button
                    class="botonEliminar"
                    (click)="$event.stopPropagation(); cerrarModalConfirmacion()"
                  >
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
          }
        }
      </div>
    </div>
  </div>
}
