@if (publicacion.activo) {
  <div class="publicacionCard" (click)="verPublicacion()">
    <div class="publicacionDatos">
      <h3 class="publicacionTitulo">{{ publicacion.titulo }}</h3>
      <div class="publicacionCreacion">
        <span class="publicacionFecha"> {{ publicacion.creadoEn | date: 'dd/MM/yyyy' }} </span>
        <span class="publicacionUser"> {{ publicacion.usuarioNombre }} </span>
        <img [src]="publicacion.usuarioImagen" alt="Imagen de perfil" />
      </div>
    </div>

    <div class="publicacionContenido">
      <p class="publicacionDescripcion">{{ publicacion.descripcion }}</p>
      @if (publicacion.imagenUrl) {
        <img class="publicacionImagen" [src]="publicacion.imagenUrl" alt="imagen de publicacion" />
      }
    </div>

    <div class="publicacionAcciones">
      @if (publicacion.meGusta.includes(usuario._id)) {
        <button class="botonLike activo" (click)="$event.stopPropagation(); quitarLike()">
          Dislikear
        </button>
      } @else {
        <button class="botonLike" (click)="$event.stopPropagation(); darLike()">Likear</button>
      }
      <span class="contadorLike">Likes: {{ publicacion.meGusta.length }}</span>

      <div class="eliminarPublicacion">
        @if (publicacion.usuario === usuario._id || usuario.perfil === 'administrador') {
          <button class="botonEliminar" (click)="$event.stopPropagation(); eliminar()">
            Eliminar
          </button>
        }
      </div>
    </div>
  </div>
}
