@if (publicacion()) {
  <div class="publicacionAmpliada">
    <div class="navbar">
      <div class="presentacion">
        <span class="logo">DEAD GAME EXPLORER</span>
        <span class="slogan"> // La nostalgía nos guía._ ></span>
      </div>
      <div class="navAcciones">
        <button class="boton" routerLink="/publicaciones">Volver</button>
      </div>
    </div>

    <div class="publicacionActual">
      <div class="publicacionDatos">
        <h3 class="publicacionTitulo">{{ publicacion().titulo }}</h3>
        <div class="publicacionCreacion">
          <span class="publicacionFecha"> {{ publicacion().creadoEn | date: 'dd/MM/yyyy' }} </span>
          <span class="publicacionUser"> {{ publicacion().usuarioNombre }} </span>
          <img [src]="publicacion().usuarioImagen" alt="Imagen de perfil" />
        </div>
      </div>
      <div class="publicacionContenido">
        <p class="publicacionDescripcion">{{ publicacion().descripcion }}</p>
      </div>

      <div class="metricasPublicacion">
        <span>Likes: {{ publicacion().meGusta.length }}</span>
        <span>Comentarios {{ totalComentarios() }} </span>
      </div>

      <div class="comentarios">
        @for (c of comentarios(); track c._id) {
          <div class="comentario">
            <img [src]="c.usuario.imagenDePerfil" alt="Imagen de perfil" />
            <span class="comentarioUsuario"> {{ c.usuario.nombreDeUsuario }} </span>
            <p>{{ c.mensaje }}</p>
            <span class="comentarioFecha"> {{ c.creadoEn | date: 'dd/MM/yyyy' }} </span>
            @if (c.modificado) {
              <span class="comentarioEditado">(editado)</span>
            }
          </div>
        }
        @if (comentarios().length < totalComentarios()) {
          <button class="boton" (click)="cargarComentarios()">Cargar comentarios</button>
        }
        <div class="nuevoComentario">
          <input
            type="text"
            class="comentario"
            placeholder="Escribí un comentario..."
            [(ngModel)]="nuevoComentario"
          />
          <button class="boton" (click)="comentar()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
}
