<div class="contenedorPublicaciones">
  <div class="navbar">
    <div class="presentacion">
      <span class="logo">DEAD GAME EXPLORER</span>
      <span class="slogan"> // La nostalgía nos guía._ ></span>
    </div>
    <div class="navAcciones">
      @if (usuario.perfil === 'administrador') {
        <p>*</p>
        <button class="boton" routerLink="/dashboard">DASHBOARD ADMIN</button>
        <p>*</p>
      }
      <button class="boton" routerLink="/mi-perfil">Mi Perfil</button>
      <button class="boton" (click)="abrirModal()">Nueva publicación</button>
      <button class="boton" (click)="cerrarSesion()">Cerrar Sesion</button>
    </div>
  </div>

  <div class="controles">
    <div class="ordenamiento">
      <select class="selector" [(ngModel)]="orden" (ngModelChange)="cargarPublicaciones()">
        <option value="fecha">Por Fecha</option>
        <option value="megusta">Por Me Gusta</option>
      </select>
    </div>
  </div>

  <div class="listaPublicaciones">
    @for (p of publicaciones(); track p._id) {
      <div class="p" appPublicacionHover>
        <app-publicacion [publicacion]="p" />
      </div>
    }
    @if (publicaciones().length === 0) {
      <p class="sinPublicaciones">// No se encontraron publicaciones</p>
    }
  </div>

  <div class="paginacion">
    <button class="boton" (click)="paginaAnterior()" [disabled]="offset === 0">Anterior</button>
    <span class="pagina">Página {{ offset / limite + 1 }}</span>
    <button class="boton" (click)="paginaSiguiente()">Sigiente</button>
  </div>

  @if (modalAbierto) {
    <div class="modalPublicaciones" (click)="cerrarModal()">
      <div class="modal" (click)="$event.stopPropagation()">
        <h2 class="modalTitulo">Nueva publicacion</h2>
        <div class="campo">
          <input type="text" placeholder="Título" [(ngModel)]="nuevaPublicacion.titulo" />
        </div>
        <div class="campo">
          <textarea
            placeholder="Descripción"
            [(ngModel)]="nuevaPublicacion.descripcion"
            rows="6"
          ></textarea>
        </div>
        <div class="campo">
          <input
            type="file"
            name="imagenDePublicacion"
            draggable="true"
            (change)="capturarImagen($event)"
            accept="imagen/*"
            placeholder="Inserte una imagen..."
          />
        </div>
        <div class="modalAcciones">
          <button class="boton" (click)="publicar()">Publicar</button>
          <button class="boton bonton-danger" (click)="cerrarModal()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</div>
