.contenedorPublicaciones {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Share Tech Mono', monospace;
}

.navbar {
  border-bottom: 1px solid rgba(57, 255, 138, 0.2);
  padding-bottom: 12px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #39ff8a;
  text-shadow: 0 0 8px rgba(57, 255, 138, 1);
}

.presentacion {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.logo {
  font-size: 22px;
  color: #39ff8a;
  text-shadow: 0 0 8px rgba(57, 255, 138, 1);
  letter-spacing: 2px;
}

.slogan {
  display: block;
  font-size: 12px;
  color: rgba(57, 255, 138, 0.4);
  margin-bottom: 16px;
}

.navAcciones {
  display: flex;
  gap: 6px;
}

.boton {
  background-color: #0d2140;
  border: 1px solid rgba(74, 179, 244, 0.3);
  color: rgba(74, 179, 244, 0.7);
  padding: 4px 14px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
  display: block;
}

.boton:hover {
  border-color: rgb(57, 255, 138);
  color: #39ff8a;
  background: rgb(57, 255, 138, 0.05);
}

.controles {
  margin-bottom: 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.selector {
  background-color: #0d2140;
  border: 1px solid rgba(74, 179, 244, 0.3);
  color: rgba(74, 179, 244, 0.7);
  padding: 4px 14px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 12px;
  cursor: pointer;
}

.selector option {
  background-color: #0d1a2e;
  color: rgba(200, 230, 210, 0.75);
}

.paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.pagina {
  font-size: 12px;
  color: rgba(74, 179, 244, 0.5);
}

.boton.activo {
  border-color: rgba(57, 255, 138, 0.6);
  color: #39ff8a;
}

.listaPublicaciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.sinPublicaciones {
  color: rgba(57, 255, 138, 0.3);
  font-size: 13px;
}

.modalPublicaciones {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #0d1a2e;
  border: 1px solid rgba(57, 255, 138, 0.2);
  padding: 24px;
  width: 400px;
}

.modalTitulo {
  color: #39ff8a;
  font-size: 16px;
  margin: 0 0 16px 0;
}

.campo {
  margin-bottom: 12px;
}

.campo input,
.campo textarea {
  width: 100%;
  background: rgba(57, 255, 138, 0.15);
  border: 1px solid rgba(57, 255, 138, 0.15);
  color: rgba(200, 230, 210, 0.75);
  padding: 8px 10px;
  font-family: 'Share Tech Mono' monospace;
  font-size: 12px;
  box-sizing: border-box;
}

.modalAcciones {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.p {
  cursor: pointer;
}
